/* VARIABLES */
*:focus {
  outline: none;
}

/* Used in todolist.scss */
/* VARIABLES */
*:focus {
  outline: none;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  right: 20px;
  display: inline-block;
  width: 30px;
  height: 15px;
  /* Hide default HTML checkbox */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BCBCBC;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #26BC00;
}
input:focus + .slider {
  box-shadow: 0 0 1px #BCBCBC;
}
input:hover + .slider {
  transform: scale(1.3);
}
input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#todolist {
  margin: 15px 2vw;
}
#todolist .container {
  padding-bottom: 30px;
}
#todolist .container #sortable1 {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}
#todolist .container #sortable1 .todo-li {
  margin: 25px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 7px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(9, 30, 64, 0.2);
  max-width: 1000px;
}
#todolist .container #sortable1 .todo-li:hover {
  transform: scaleY(1.2);
  transform: scaleX(1.01);
  box-shadow: 5px 5px 5px rgba(17, 47, 95, 0.5);
}
#todolist .container #sortable1 .todo-li .todo-container {
  position: relative;
  border-left: 5px solid #191C32;
  color: #191C32;
  display: flex;
  align-items: center;
  font-size: 10px;
}
#todolist .container #sortable1 .todo-li .todo-container .fa-ellipsis-v {
  padding-left: 5px;
}
#todolist .container #sortable1 .todo-li .todo-container .fa-trash-alt,
#todolist .container #sortable1 .todo-li .todo-container .fa-pencil-alt {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #BCBCBC;
}
#todolist .container #sortable1 .todo-li .todo-container .fa-trash-alt:hover,
#todolist .container #sortable1 .todo-li .todo-container .fa-pencil-alt:hover {
  color: #191C32;
  transform: scale(1.2);
  color: #ff1d1d;
}
#todolist .container #sortable1 .todo-li .todo-container .fa-pencil-alt {
  top: auto;
  bottom: 4px;
}
#todolist .container #sortable1 .todo-li .todo-container .fa-pencil-alt {
  display: none;
}
#todolist .container #sortable1 .todo-li .todo-container p {
  margin: 15px 60px 15px 20px;
  font-size: 14px;
  line-height: 130%;
}
#todolist .container #sortable1 .todo-li .todo-done {
  border-color: #26BC00;
  color: #BCBCBC;
  font-weight: 200;
  font-style: italic;
}

/* #todolist {
  .container {
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;

    .todo {
      height: 48px;
      margin: 15px 0;
      background: #fdfdfd;
      border-left: 5px solid $leftBgColor;
      box-sizing: border-box;
      box-shadow: 5px 5px 5px rgba(9, 30, 64, 0.2);
    }

    .draggable {
      will-change: transform;
      cursor: move;
      transition: all 200ms;
      user-select: none;
      margin: 10px auto;
      position: relative;
    }

    .draggable:after {
      content: 'drag me';
      right: 7px;
      font-size: 10px;
      position: absolute;
      cursor: pointer;
      line-height: 5;
      transition: all 200ms;
      transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
      transform: translateX(120%);
      opacity: 0;
    }

    .draggable:hover:after {
      opacity: 1;
      transform: translate(0);
    }

    .over {
      transform: scale(1.1, 1.1);
    }
  }
} */

/*# sourceMappingURL=todolist.css.map */
