$navbarBgColor: #437C90;
$leftSectionBgColor: #191C32;
$rightSectionBgColor: #E5E5E5;

body {
    margin: 0 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

@import './navbar.scss';