/* VARIABLES */
$navHeight: 45px !default;
$fontSizeDefault: 16px !default;
$navBgColor: #437C90 !default;
$leftBgColor: #191C32 !default;
$rightBgColor: #E5E5E5 !default;
$gray: #BCBCBC !default;
$green: #26BC00 !default;
$leftMinWidth: 300px !default;
$rightMinWidth: 578px !default;
$leftFontColor: $rightBgColor !default;
$rightFontColor: $leftBgColor !default;
$slimBorder: 1px solid rgba(0, 0, 0, 0.15) !default;